<div class="quickstart punchcard" id="qStart">
    <div class="content clearfix">
        <div class="steps row">
            <div class="col-md-1-5 col-xs-12"><h3>QUICKSTART</h3></div>
            <div class="col-md-1-5 col-xs-3 active pc1">
                <span>1</span>
                <div class="right">
                    <p class="t">INITIAL SETUP</p>
                    <p class="d">Create your Punch Card</p>
                </div>
                <img src="images/pointer.png" alt="">
            </div>
            <div class="col-md-1-5 col-xs-3 pc2">
                <span>2</span>
                <div class="right">
                    <p class="t">MOBILE APP</p>
                    <p class="d">Design your App</p>
                </div>
                <img src="images/pointer.png" alt="">
            </div>
            <div class="col-md-1-5 col-xs-3 pc3">
                <span>3</span>
                <div class="right">
                    <p class="t">SET MECHANICS</p>
                    <p class="d">Add Rewards</p>
                </div>
                <img src="images/pointer.png" alt="">
            </div>
            <div class="col-md-1-5 col-xs-3 pc4">
                <span>4</span>
                <div class="right">
                    <p class="t">FINISH</p>
                    <p class="d">&nbsp;</p>
                </div>
                <img src="images/pointer.png" alt="">
            </div>
        </div><!--steps-->


        <div class="qsWrapper qsOne">
            <div class="qsHeader">
                <h2>Create your Digital Punch Card</h2>
            </div><!--qsheader-->
            <div class="qsBody">
                <div class="stampsWrap clearfix">
                    <div class="col-md-12 form-group">
                        <label for="stamps">Complete 9 stamps and get:</label>
                        <input type="text" class="form-control" name="stamps" id="stamps">
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="noOfStamps">No. of Stamps</label>
                            <select class="form-control" id="noOfStamps">
                                <option value="1">1</option>
                            </select>
                        </div>
                        <div class="col-md-7">
                            <label for="expiration">Expiration</label>
                            <div class='input-group date' id='datetimepicker'>
                                <input type='text' class="form-control" name="expiration" id="expiration" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--qsBody-->

            <div class="qsFooter">
                <a href="#" class="skipThisShit">Skip Quick Start</a>
                <button class="btn btn-default nextStep">NEXT <i class="fa fa-angle-right"></i></button>
            </div><!--qsFooter-->
        </div><!--qsWrapper-->

        <div class="qsWrapper qsTwo">
            <div class="qsHeader">
                <h2>Design your App</h2>
            </div><!--qsheader-->
            <div class="qsBody">
                <div class="design">
                    <div class="mobileTab">
                    <div class="col-md-5">
                        <div class="row left">
                            <div class="col-md-12 clearfix uploadLogo">
                                <h5 class="withIco"><img src="images/oneIco.jpg" alt="">Upload Logo</h5>
                                <img src="images/addImage.jpg" class="imgPrev" alt="">
                                <div class="pull-left">
                                    <span class="btn btn-default btn-file">
                                    Choose File <input type="file">
                                    </span>
                                    <i>At least 200px x 200px</i>
                                </div>
                            </div>
                            <div class="col-md-12 clearfix addBackImage">
                                <h5 class="withIco"><img src="images/twoIco.jpg" alt="">Add Background Image</h5>
                                <img src="images/addImage.jpg" class="imgPrev" alt="">
                                <div class="pull-left">
                                    <span class="btn btn-default btn-file">
                                    Choose File <input type="file">
                                    </span>
                                    <i>At least 640px x 1136px</i>
                                </div>
                            </div>
                            <div class="col-md-12 clearfix choosePalete">
                                <h5 class="withIco"><img src="images/threeIco.jpg" alt="">Choose Color Palete</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="dropdown presetPalette">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="prePalette" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <span class="p1"></span><span class="p2"></span><span class="p3"></span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu prePaletteMnu" aria-labelledby="prePalette">
                                                <li class="palette1">
                                                    <a href="" onclick="return false"><i></i><i></i><i></i></a>
                                                    <span>Palette 1</span>
                                                </li>
                                                <li class="palette2">
                                                    <a href="" onclick="return false"><i></i><i></i><i></i></a>
                                                    <span>Palette 2</span>
                                                </li>
                                                <li class="palette3">
                                                    <a href="" onclick="return false"><i></i><i></i><i></i></a>
                                                    <span>Palette 3</span>
                                                </li>
                                                <li class="palette4">
                                                    <a href="" onclick="return false"><i></i><i></i><i></i></a>
                                                    <span>Palette 4</span>
                                                </li>
                                                <li class="custPalette">
                                                    <a href="" onclick="return false"><i></i><i></i><i></i></a>
                                                    <span>Custom Palette</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-default savePalette">Save Palette</button>
                                    </div>
                                    <div class="customPaletteBox">
                                        <div class="col-md-4">
                                            <i>Theme</i>
                                            <input type='text' id="pqs_pOverlay" />
                                            <span class="hex">#00A8A4</span>
                                        </div>
                                        <div class="col-md-4">
                                            <i>Text</i>
                                            <input type='text' id="pqs_pText" />
                                            <span class="hex">#00E6C5</span>
                                        </div>
                                        <div class="col-md-4">
                                            <i>Buttons</i>
                                            <input type='text' id="pqs_pButtons" />
                                            <span class="hex">#8BFF6F</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 clearfix upStampC">
                                <h5 class="withIco"><img src="images/twoIco.jpg" alt="">Upload Stamp Design</h5>
                                <span class="sp">Colored</span>
                                <img src="images/addImage.jpg" class="imgPrev" alt="">
                                <div class="pull-left">
                                    <span class="btn btn-default btn-file">
                                    Choose File <input type="file">
                                    </span>
                                    <i>At least 200px x 200px</i>
                                </div>
                            </div>
                            <div class="col-md-12 clearfix upStampG">
                                <span class="sp">Grayscale</span>
                                <img src="images/addImage.jpg" class="imgPrev" alt="">
                                <div class="pull-left">
                                    <span class="btn btn-default btn-file">
                                    Choose File <input type="file">
                                    </span>
                                    <i>At least 200px x 200px</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 right">
                        <div class="mobileFrame">
                            <div class="col-md-6">
                                <div class="screen1">
                                    <div class="customMobileBgImg">
                                        <div class="customMobileBgColor">
                                            <div class="inside"><img src="images/fidelityLogo.png" alt="" class="customLogo"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="screen2">
                                    <div class="screen2box">
                                        <div class="topPane"></div>
                                        <div class="text customText">
                                            <p>Get 1 stamp for every succeeding amount of P60000 ordered. Complete 5-10 stamps to get awesome prizes!. You can claim your rewards at all Vikings Branch.</p>
                                        </div>
                                        <div class="stampWrap">
                                            <ul>
                                                <li class="c">1</li>
                                                <li class="c">2</li>
                                                <li class="c">3</li>
                                                <li class="c">4</li>
                                                <li class="c">5</li>
                                                <li class="g">6</li>
                                                <li class="g">7</li>
                                                <li class="g">8</li>
                                                <li class="g">9</li>
                                            </ul>
                                        </div><!--stampWrap-->
                                        <button class="redeem btn">REDEEM</button>
                                    </div>
                                </div>
                            </div>
                        </div><!--mobileFrame-->

                    </div><!--right-->
                </div><!--mobileTab-->
                </div>
            </div><!--qsBody-->

            <div class="qsFooter">
                <button class="btn btn-default backStep"><i class="fa fa-angle-left"></i>BACK</button>
                <button class="btn btn-default nextStep">NEXT <i class="fa fa-angle-right"></i></button>
            </div><!--qsFooter-->
        </div><!--qsWrapper-->

        <div class="qsWrapper qsThree">
            <div class="qsHeader">
                <h2>Add Rewards</h2>
            </div><!--qsheader-->
            <div class="qsBody promos">
                <div class="amountProduct col-md-12">
                    <a href="" class="apAmnt active" onclick="return false">Amount</a>
                    <a href="" class="apProd" onclick="return false">Product</a>
                </div>
                <div class="col-md-12">
                    <div class="earningReward1">
                        <div class="row">
                            <h6 class="col-md-12">Point Conversation</h6>
                            <div class="col-md-2 col-sm-6 noPadRight">
                                <div class="input-group">
                                    <span class="input-group-addon">Php</span>
                                    <input type="text" class="form-control" id="exampleInputAmount" value="0.00">
                                    <span class="input-group-addon">= </span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 noPadLeft">
                                <div class="input-group">
                                    <select name="amountPoints" class="form-control" id="amountPoints" aria-describedby="basic-addon2">
                                        <option value="1">0</option>
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                    </select>
                                    <span class="input-group-addon" id="basic-addon2">Php</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h6 class="col-md-12">N-th Stamp Reward</h6>
                            <div class="rewards">
                                <div class="col-md-2 col-xs-4">
                                    <select name="nthStamp" class="form-control" id="nthStamp" >
                                        <option value="1">1st</option>
                                        <option value="1">2nd</option>
                                        <option value="1">3rd</option>
                                    </select>
                                </div>
                                <div class="col-md-10 col-xs-8">
                                    <input type="text" class="form-control" name="10Off" id="10Off" placeholder="10% Off on Dinnner Buffet">
                                </div>
                            </div><!--rewards-->

                            <div class="col-md-12">
                                <button class="btn btn-default addReward"><i class="fa fa-plus"></i> Add Reward</button>
                            </div>
                        </div>
                    </div><!--earningReward1-->

                    <div class="earningReward2">
                        <div class="row">
                            <h6 class="col-md-12">Point Conversation</h6>
                            <div class="prodWrap">
                                <div class="col-md-1 col-sm-6">
                                    <a href=""><img src="images/addImage.jpg" class="imgPrev" alt=""></a>
                                </div>
                                <div class="col-md-8 noPadRight">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="prodName" placeholder="Product Name">
                                        <span class="input-group-addon">=</span>
                                    </div>
                                </div>
                                <div class="col-md-2 noPadLeft">
                                    <div class="input-group">
                                        <select name="amountPoints" class="form-control" id="amountPoints" aria-describedby="basic-addon2">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                        </select>
                                        <span class="input-group-addon" id="basic-addon2">Php</span>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <a href="" onclick="return false"><i class="fa del fa-times"></i></a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-default addReward"><i class="fa fa-plus"></i> Add Product</button>
                            </div>
                        </div>
                        <div class="row">
                            <h6 class="col-md-12">N-th Stamp Reward</h6>
                            <div class="rewards">
                                <div class="col-md-2 col-xs-4">
                                    <select name="nthStamp" class="form-control" id="nthStamp" >
                                        <option value="1">1st</option>
                                        <option value="1">2nd</option>
                                        <option value="1">3rd</option>
                                    </select>
                                </div>
                                <div class="col-md-10 col-xs-8">
                                    <input type="text" class="form-control" name="10Off" id="10Off" placeholder="Reward Description">
                                </div>
                            </div><!--rewards-->

                            <div class="col-md-12">
                                <button class="btn btn-default addReward"><i class="fa fa-plus"></i> Add Reward</button>
                            </div>
                        </div>

                    </div><!--earningReward2-->

                </div>
            </div><!--qsBody-->

            <div class="qsFooter">
                <button class="btn btn-default backStep"><i class="fa fa-angle-left"></i>BACK</button>
                <button class="btn btn-default nextStep">NEXT <i class="fa fa-angle-right"></i></button>
            </div><!--qsFooter-->
        </div><!--qsWrapper-->
        <div class="qsWrapper qsFinish">
            <div class="qsHeader">
                <h2>Finish Setup</h2>
            </div><!--qsheader-->
            <div class="qsBody">
                 <h3>Your Punch Card is now ready</h3>
                <button class="btn btn-default skipThisShit">Go to Dashboard  <i class="fa fa-angle-right"></i></button>
            </div><!--qsBody-->

            <div class="qsFooter">

            </div><!--qsFooter-->
        </div><!--qsWrapper-->




    </div><!--content-->

</div><!--quickstart-->